<div id="config-manager-view" class="view-content" style="display: none;">  
    <div class="config-layout">  
        <main class="config-content">
            {% include 'components/views/config-manager/panels/ui-config.html' %}
            {% include 'components/views/config-manager/panels/image-design-config.html' %}
            {% include 'components/views/config-manager/panels/base-config.html' %}  
            {% include 'components/views/config-manager/panels/creative-config.html' %}  
            {% include 'components/views/config-manager/panels/platforms-config.html' %}  
            {% include 'components/views/config-manager/panels/wechat-config.html' %}  
            {% include 'components/views/config-manager/panels/api-config.html' %}  
            {% include 'components/views/config-manager/panels/img-api-config.html' %}  
            {% include 'components/views/config-manager/panels/aiforge-config.html' %}  
        </main>  
    </div>  
</div>